{
	"apiSpecifications" : [
		{
			"name" : "Boris",
			"serviceJars" : {
				"org.wrml.example.exampleService1" : [
					"http://www.wrml.org/dependencies/service.jar"
				],
				"org.wrml.example.exampleService2" : [
					"http://www.wrml.org/dependencies/service.jar"
				]
			},
			"pathMap" : {
				"/squirrel" : [
					"http://www.wrml.org/examples/squirrel"
				],
				"/" : [
					"http://www.wrml.org/examples/moose"
				]
			},
			"schemaMap" : {
				"http://www.wrml.org/examples/squirrel" : "org.wrml.example.exampleService2",
				"http://www.wrml.org/examples/moose" : "org.wrml.example.exampleService1"
			}
		}
	]
}