{
	"domains" : {
		"abc.com" : {
			"apiSpecifications" : [
				{
					"name" : "example",
					"endpoints" : {
						"/moose" : [
							{
								"protocols" : [ "https" ],
								"schema" : "http://animalSchema",
								"service" : "moose.service",
								"schemaHash" : "inserted by tool, optional"
							},
							{
								"schema" : "http://schemaX",
								"service" : "other.service"
							}
						],
						"/squirrel" : [
							{
								"schema" : "http://animalSchema",
								"service" : "squirrel.service"
							},
							{
								"schema" : "http://schemaX",
								"service" : "another.service"
							}
						]
					},
					"services" : {
						"moose.service" : "http://mooses.com/FindAMoose",
						"squirrel.service" : "https://squirrelsRus.com/jar.jar"
					},
					"protocols" : [
						"http"
					],
					"adminEmail" : "exampleOwner@foo.com"
				}
			],
			"domainConfig" : {
				"adminEmail" : "admin@foo.com"
			}
		},
		"xyz.com" : {
			"apiSpecifications" : [
			],
			"domainConfig" : {
			}
		}
	},
	"globalWRMLConfig" : {
		"adminEmail" : "admin@something.org"
	}
}
