{
  "remoteSpecifications":
    [
      "file:///c:/git/scandeezy/example.api",
      "http://someurl.com/apis"
    ],
  "apiSpecifications":
    [
      {
        "name": "example",
        "endpoints": {
          "/moose": [
            "moose.service"
          ],
          "/squirrel": [
            "squirrel.service"
          ]
        },
        "services": {
          "moose.service": "http://download.this.jar",
          "squirrel.service": "http://download.this.jar.too"
        }
      }
    ],
  "configValues":
  	{
  	  "dataSource" : "jdbc:embedded-database"
  	}
}